/* public/css/styles.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px;
}

label{
    float: left;
}

.text-left{
    text-align: left;
}



header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 0px 10px;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top-links {
    display: flex;
}

.top-link {
    margin-right: 10px;
}

.top-link:first-child {
    margin-right: auto;
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.button-container {
    margin-top: 20px;
}

.gray-button {
    background-color: #666;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.user-info {
    color: #333; /* ユーザー名のテキスト色 */
    font-weight: bold;
    position: relative; /* 追加 */
}

.dropdown {
    position: relative;
    z-index: 5;
    
}

#user-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 10px; /* メニューを右側から10px左に寄せる */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    
}

#user-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#user-dropdown-content a:hover {
    background-color: #f1f1f1;
}

    .post-image-wrapper {
        margin-top: 40px; /* 任意の余白の値 */
        margin-bottom: 20px; /* 任意の余白の値 */
    }


.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

#user-dropdown-content {
    max-width: 200px;
    width: 200px;
    
}


.user-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.user-item {
    margin-bottom: 20px;
    margin-right: 20px;
    flex: 1 0 calc(33.33% - 40px); /* 3列で横幅を均等に分割 */
}

.user-image {
    width: 100px;
    height: 100px;
    object-fit: cover; /* 画像のアスペクト比を維持して要素にフィット */
    border-radius: 50%; /* 画像を円形にするための角丸 */
}

.user-details {
    margin-top: 10px;
    text-align: center;
}

.user-name {
    display: block;
    font-weight: bold;
}

.post-count {
    display: block;
    color: gray;
}

.favorite-button {
    background-color: #3490dc;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.favorite-button:hover {
    background-color: #2779bd;
}

.favorite-add-button {
    background-color: #28a745;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.favorite-add-button:hover {
    background-color: #218838;
}

/* public/css/styles.css */

.ranking-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 投稿間のスペースを設定 */
}

.ranking-post {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 80%; /* 幅を50%に */
   margin: 0 auto; /* 左右のマージンを自動で設定して中央に配置 */
}


.post-image {
    max-width: 100%;
    height: auto;
}

.post-name {
    font-size: 18px;
    font-weight: bold;
}

.like-count {
    color: #007bff;
}

.crown-icon {
    width: 20px; /* アイコンの幅を調整 */
    margin-right: 5px; /* アイコンとテキストの間隔を調整 */
}

.right-align {
    float: right;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.mojiwhite{
    color: #ffffff;
}

a.mojiwhite {
    color: #ffffff !important;
    text-decoration: none;
}

    /* サーチボックス */
    .my-custom-form {
        /* ここにフォーム全体のスタイルを追加 */
        margin-bottom: 20px;
    }

    .my-custom-input {
        /* ここにテキスト入力部分のスタイルを追加 */
        border-color: #a9a9a9;
        border-radius: 5px 0 0 5px; /* 左側の角を丸くする */
        width: 70%; /* 入力スペースの幅を広げる */
        position: relative; /* 追加 */
    }

.my-custom-button {
    background-color: transparent;
    color: #696969; /* アイコンの色を設定 */
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translateX(-110%);
    
}

.my-custom-button::before {
    content: '\f002'; /* FontAwesomeの虫眼鏡アイコン */
    font-family: 'Font Awesome 5 Free'; /* FontAwesomeのフォントファミリー */
    font-size: 20px;
    vertical-align: middle; /* 垂直方向の中央寄せ */

}

    .my-custom-button::before {
    color: #696969;
}


    .img-smaller {
    max-width: 80%; /* 例: 幅を80%に制限 */
    height: auto; /* アスペクト比を保持 */
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .img-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* 画像に影をつける */
    }
    .text-shadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影の設定（横方向のオフセット、縦方向のオフセット、ぼかしの量、影の色） */
    }



@media only screen and (max-width: 400px) {

    .ranking-post {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .medal-container {
        margin-bottom: 10px; /* メダルと名前の間の余白を設定 */
    }

    .my-custom-input::placeholder {
        font-size: 10px; /* スマートフォンの場合のプレースホルダーのフォントサイズを設定 */
    }

    .dropdown {
        position: relative;
    }

    .user-info .dropdown::before {
        content: "";
        position: absolute;
        top: -10px; /* 適切な位置に調整 */
        right: 15px; /* 適切な位置に調整 */
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
    }
    

}

